.login-content {
    border : 3px solid #FFFFFF;
    border-radius: 3rem;
    background-color: #FFFFFF;
    margin : 1rem 4rem 1rem 4rem;
}


.login-area {
    box-sizing: border-box;
    width: 100%;
    padding: 2rem;
}

.login-button-facebook{
    width: 100%;
    height: 48px;
    border : 1px solid gray;
    background-color: rgb(60, 90, 150);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    margin : 0 0 10px;
}

.login-button-naver{
    width: 100%;
    height: 48px;
    border : 1px solid lightgray;
    background-color: rgb(30, 200, 0);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    margin : 0 0 10px;
}

.login-button-kakao {
    width: 100%;
    height: 48px;
    border : 1px solid lightgray;
    background-color: rgb(250, 227, 0);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    margin : 0 0 10px;
}

.login-button-google {
    width: 100%;
    height: 48px;
    border : 1px solid lightgray;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 6px;
    margin : 0 0 10px;
}

.login-span1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    position: relative;
}

.login-span2 { 
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.login-span3 { 
    color: rgb(0, 0, 0);
    flex: 1 1 0%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}


/* .login-span-div {
    display: block; 
    overflow: hidden; 
    position: absolute; 
    inset: 0px; 
    box-sizing: border-box; 
    margin: 0px;
}  */



/* .login-image {
    position: absolute; 
    inset: 0px; 
    box-sizing: border-box; 
    padding: 0px; 
    border: none; 
    margin: auto; 
    display: block; 
    width: 0px; 
    height: 0px; 
    min-width: 100%; 
    max-width: 100%; 
    min-height: 100%; 
    max-height: 100%;
}  */

.login-description p {
    margin : auto;
    color : rgb(114, 114, 114);
    padding-top : 15px;
    width: 100%;
    font-size : 12px;
}

.login-background-logo {
    margin : auto;
}