  <!-- 홈 모달 -->
           <nav th:fragment="modalFragment" id="nav_bar" class="home-nav-bar">
               <div class="home-login">
                    <button class="home-logout" th:if="${user}" id="home_logout" type="button" onclick="location.href='/logout'">로그아웃</button>
                   <a th:unless="${user}" href="/login">로그인</a>
               </div>
               <div class="home-tab"></div>
               <div class="home-board">
                   <ul>
                       <li><a href="/search">검색하기</a></li>
                   </ul>
               </div>
               <div class="home-tab"></div>
               <div class="home-my-page">
                   <a class="home-mypage-link" href="/mypage">나의 밸런스</a>
               </div>
               <div class="home-tab"></div>
               <div sec:authorize="isAuthenticated()" class="home-admin">
                   <a class="home-mypage-link" href="/list">관리자 페이지</a>
               </div>
           </nav>
       <div class="mypage-logout-modal" id="mypage_logout_modal">
            <form action="" class="mypage-logoutform">
                 <div class="mypage-logout-div">
                     <span class="mypage-logout-text">로그아웃 하시겠습니까?</span>
                 </div>
                 <div class="mypage-button-group">
                     <button class="mypage-logout-button">취소</button>
                     <button id="mypage_logout_button" class="mypage-logout-button" type="button" onclick="location.href='/logout'">확인</button>
                 </div>
             </form>
       </div>