@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html { 
    height:100%;
}

body {
    height:100%;
    font-family : Pretendard Variable, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    word-break: keep-all;
    user-select: none;
    color: #000;
    background-color: rgb(238, 238, 243);
   	font-family:'SuncheonB' ;
}

address, article, aside, audio, body, button, canvas, caption, cite, 
code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, html, img, input, ins, label, 
legend, li, mark, nav, ol, p, pre a, section, span, strong, summary, 
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}




.layout {
    height : 100vh;
}

.layout-content {
    max-width : 500px;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgb(254, 255, 255);

}

.search-area {
    padding : 16px;
}

.search { 
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.board-header {
    display :block;
}

.board-nav {
    display : flex;
    margin : 0 auto;
    padding : 0 10px;
    background : #FFFFFF;
    height : 50px;
    align-items : center;
}

.container {
  height: 100px;
  width: 500px;
  background: rgb(210, 251, 254);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
}
.container>div {
  text-align: center;
}
.container>div:hover {
  cursor: pointer;
}
.left {
  background: rgb(255, 53, 21);
  height: 200%;	
}
.right {
  background: rgb(22, 63, 255);
  transform: translate(0%, -50%);
  height: 200%;
}
.text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.option-title {
  color: rgba(255, 255, 255, 1);
}
.option-size {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

a {
    text-decoration : none;
    color : inherit;
}

img {
    max-width : 100%;
    vertical-align: top;
}

.menu-image {
    margin: 0.625em;
    box-sizing : border-box;
}

.main-logo {
    flex: 1 1;
    display :flex;
    justify-content: center;
    align-items: center;
    padding-left: 9.3%;
}

.main-logo-image {
    box-sizing : border-box;
    max-height : 4rem;
}

.header-link {
    display: inline-block;
}

.header-image1 {
    margin : 0.3rem 0.5rem 0px;
    box-sizing: border-box;
}
.header-image2 {
    margin : 0px 0.3rem 0px 0.5rem;
    box-sizing: border-box;
}




.main-logo h1 {
    text-transform: uppercase;
    color: rgba(249,128,128);
    font-family: 'Luckiest Guy', cursive;
    margin : 0;
}

.board-content {
    box-sizing: border-box;
    max-width: 500px;
    content: '';
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    background-color: transparent;
    background: url(/image/plamingo.png);
    background-repeat: no-repeat;
    /*height: 100vh;*/
    z-index: 10;
    
    
}
.board-content-head {
    text-align: left;
    font-size: 28px;
    color: rgb(19, 18, 18);
    margin-top: 315px;
    margin-left: 10px;
}

.span-red {
    color: rgb(245, 65, 130);
}

.recommend-list{
    position : relative;
    z-index:2;
}



.footer {
	bottom: 0;
    width: 100%;
    text-align: center;
    background: url(/img/footerwave2.png) no-repeat;
    background-size: cover;
    padding: 10rem 0 2rem;
    margin-top: 1.2rem;
    height: 100%;
}

.footer p {
    color: #fff;
    letter-spacing: -0.3px;
}

.footer a {
    margin-right : 2rem;
}@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:0;
}

html { 
    height:100%;
}

body {
    height:100%;
    font-family : Pretendard Variable, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
    word-break: keep-all;
    user-select: none;
    color: #000;
    background-color: rgb(238, 238, 243);
   	font-family:'SuncheonB' ;
}

address, article, aside, audio, body, button, canvas, caption, cite, 
code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, html, img, input, ins, label, 
legend, li, mark, nav, ol, p, pre a, section, span, strong, summary, 
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}




.layout {
    height : 100vh;
}

.layout-content {
    max-width : 500px;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgb(254, 255, 255);

}

.search-area {
    padding : 16px;
}

.search { 
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.board-header {
    display :block;
}

.board-nav {
    display : flex;
    margin : 0 auto;
    padding : 0 10px;
    background : #FFFFFF;
    height : 50px;
    align-items : center;
}

.title-image{
	margin-top: 50px;
	margin-left: 50px;
	height: 150px;
  	width: 400px;
	
	
}


.container {
  height: 100px;
  width: 500px;
  background: #FFFF;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 50px;
  margin-bottom: 100px;
}
.container>div {
  text-align: center;
}
.container>div:hover {
  cursor: pointer;
}
.left {
  background: rgb(246, 255, 245);
  height: 200%;	
  border-radius: 30px;
  background: url(/img/blue.png) no-repeat;
  background-size: 200px;
  background-position: 0% 40%;

}
.right {
  background: rgb(254, 254, 255);
  transform: translate(0%, -50%);
  height: 200%;
  border-radius: 30px;
  background: url(/img/red.png) no-repeat;
  background-size: 200px;
  background-position: 100% 40%;
}
.text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.option-title {
  color: rgba(255, 255, 255, 1);
}
.option-size {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

a {
    text-decoration : none;
    color : inherit;
}

img {
    max-width : 100%;
    vertical-align: top;
}

.menu-image {
    margin: 0.625em;
    box-sizing : border-box;
}

.main-logo {
    flex: 1 1;
    display :flex;
    justify-content: center;
    align-items: center;
    padding-left: 9.3%;
}

.main-logo-image {
    box-sizing : border-box;
    max-height : 4rem;
}

.header-link {
    display: inline-block;
}

.header-image1 {
    margin : 0.3rem 0.5rem 0px;
    box-sizing: border-box;
}
.header-image2 {
    margin : 0px 0.3rem 0px 0.5rem;
    box-sizing: border-box;
}



.main-logo h1 {
    text-transform: uppercase;
    color: rgba(249,128,128);
    font-family: 'Luckiest Guy', cursive;
    margin : 0;
}


.board-content-head {
    text-align: left;
    font-size: 28px;
    color: rgb(19, 18, 18);
    margin-top: 315px;
    margin-left: 10px;
}

.span-red {
    color: rgb(245, 65, 130);
}

.recommend-list{
    position : relative;
    z-index:2;
}


/** share **/


/** share **/

.footer {
	display: block;
	bottom: 0;
    width: 100%;
    text-align: center;
    background: url(/img/footerwav.png) no-repeat;
    background-size: cover;
    padding: 10rem 0 2rem;
    margin-top: 1.2rem;
    height: 100%;
}

.footer p {
    color: #fff;
    letter-spacing: -0.3px;
}

.footer a {
    margin-right : 2rem;
}

/** chat **/

.body-chat {
  padding-bottom: 0;
}

.chat-header,
.chat-header a {
  background-color: #a1c0d6;
  color: black;
}

.chat-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat {
  background-color: #a1c0d6;
  height: 100vh;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.chat .date-divider {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.btn-default2 {
    padding-top: 13px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    height: 45px;
}



.chat__message {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.btn-group-chat-radio {
  display: flex;
}

.chat__message-from-me {
  justify-content: flex-end;
}

.chat__message-to-me img {
  align-self: flex-start;
}

.chat__message-time {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.chat__message-best .chat__message-body{
   background-color: rgb(231, 233, 233);
	width:100%;
	text-align: center;
}


.chat__message-from-me .chat__message-body {
  background-color: #ffe934;
  margin-left: 5px;
}

.chat__message-body {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right: 5px;
}

.chat__message-to-me img {
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat__message .chat__message-username {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.chat__message-center {
  display: flex;
  flex-direction: column;
}

.type-message {
  width: 100%;
  bottom: 0;
  height: 45px;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  padding-right: 0px;
}

.type-message .fa-plus {
  color: #b4b4b4;
}

.type-message__input {
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
}

.type-message__input input {
  width: 100%;
  padding: 10px;
}

.type-message__input .fa-smile-o {
  position: absolute;
  right: 40px;
  color: #b4b4b4;
}

.type-message__input .record-message {
  color: #523737;
  background-color: #ffe934;
  padding: 10px;
  cursor: pointer;
}
 /** chat-end **/
 
 .home-nav-bar{
    top:0px;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: none;
    background-color: white;
    animation:moveNavBar 0.2s linear forwards;
  }
  .home-modal-layout{
      top:0;
      width: 100%;
      height: 100%;
      position: fixed;
      display:none;
      background-color: rgba(0,0,0,0.4);
      z-index: 15;
    }
@keyframes moveNavBar {
    0%{
        width:5%;
    }
    25%{
        width:10%;
    }
    50%{
        width:20%;
    }
    75%{
        width:35%;
    }
    100%{
        width:50%;
    }
}


@keyframes closeNavBar {
    0%{
        width:50%;
    }
    25%{
        width:35%;
    }
    50%{
        width:20%;
    }
    75%{
        width:10%;
        visibility: hidden;
    }
    100%{
        visibility: hidden;
        width:5%;
    }
}
.modal-close{
    animation:closeNavBar 0.2s linear forwards ;   
}
.home-board-img{
    margin-top: 5px;
    width:20px;
    height: 20px;
}
.home-board-menu{
    display:flex;
}
.home-tab{
    width:100%;
    height:1px;
    background-color: rgba(0,0,0,0.1);
}
li{
    list-style: none;
}
 
.inputbox1 {
    position: absolute;
    top: 170px;
    z-index: 999;
    width: 155px;
    height: 98px;
    left: 144px;
    font-size: 15px;
}

.inputbox2 {
	position: absolute;
	top: 170px;
	z-index: 999;
	width: 155px;
	height: 98px;
	left: 375px;
	font-size: 15px;
}

