@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Gowun+Dodum&display=swap");

@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html { 
    height:100%;
}

body {
    height:auto;
    font-family : 'SuncheonB', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    text-align: left;
    word-break: keep-all;
    user-select: none;
    color: #000;
}

address, article, aside, audio, body, button, canvas, caption, cite, 
code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, html, img, input, ins, label, 
legend, li, mark, nav, ol, p, pre a, section, span, strong, summary, 
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}




.layout {
    height : 100vh;
}

.layout-content {
    position: relative;
    max-width : 500px;
    min-height: 100vh;
    margin: 0 auto;
    background-color : FFFFFF;
}

.search-area {
    padding : 16px;
}

.search { 
    display: flex;
    position: relative;
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.board-header {
    display :block;
}
.category-icon{
   width:44px;
   height:44px;
}
.board-nav {
    display : flex;
    margin : 0 auto;
    padding : 0 10px;
    background : #FFFFFF;
    height : 50px;
    align-items : center;
}

a {
    text-decoration : none;
    color : inherit;
}

img {
    max-width : 100%;
    vertical-align: top;
}

.menu-image {
    margin: 0.625em;
    box-sizing : border-box;
}

.main-logo {
    flex: 1 1;
    display :flex;
    justify-content: center;
    align-items: center;
    padding-left: 9.3%;
}

.main-logo-image {
    box-sizing : border-box;
    max-height : 4rem;
}

.header-link {
    display: inline-block;
}

.header-image1 {
    margin : 0.3rem 0.5rem 0px;
    box-sizing: border-box;
}
.header-image2 {
    margin : 0px 0.3rem 0px 0.5rem;
    box-sizing: border-box;
}




.main-logo h1 {
    text-transform: uppercase;
    color: rgba(249,128,128);
    font-family: 'Luckiest Guy', sans-serif;
    margin : 0;
}

.home-content {
    /* position : absolute;
    left : 35%;
    background-color: transparent;
    height: 100vh; */
    box-sizing: border-box;
    max-width: 500px;
    content: '';
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    z-index: 10;
    
}


.home-content-background {
}

.home-content-head {
    text-align: left;
    font-size: 28px;
    color: rgb(19, 18, 18);
    margin-left: 1.5rem;
    padding : 0.5rem;
}

.inner {
   display : flex;
}

.home_board {
   display : flex;
   flex-direction : column;
   min-height : 150px;
   
   
   
}

.home_board_link {
   margin-left : 13px;
   border : 0.3rem solid #222;
   border-radius : 8px;
   background-color : white;
   width : 8.5rem;
   height : 15rem;
}

.home_board_div {
   padding : 10px 4px;
   height : 100%;
   position : relative;
   white-space : normal;
   word-break : normal;
   display :flex;
   flex-direction : column;
   text-align : center;
   justify-content : space-between;
   overflow : hidden;
}


.versus {
   font-style : Luckiest Guy;
   font-size : 20px;
}

/*
.home_board_bottom {
   background-color : #f98080;
   height : 30px;

}
*/

.span-red {
    color: rgb(245, 65, 130);
}

.recommend-list{
    position : relative;
    z-index:2;
    padding-top : 2rem;
    padding-bottom : 2rem;
    background-color : #f98080;
}



.all-category {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding : 1rem 17px 1rem 0px;
}

.all-category li {
    line-height:300%; 
    margin: 1rem 15px 1rem 0px ;

 
}

.all-category li  a{
    padding: 0rem 5rem 2rem 0;
    align-items: center;
    border-radius: 1rem;
    
}

.category {
    box-sizing: border-box;
}

.category h4 {
    padding : 0, 17px;
    font : 24px bold;
    margin-top : 1rem;
    font: bold;
}



.footer {
    width: 100%;
    text-align: center;
    background: url(/img/footerwave2.png) no-repeat;
    background-size: cover;
    padding: 10rem 0 2rem;
    margin-top: 1.2rem;
    height: 100%;
}

.footer p {
    color: #fff;
    letter-spacing: -0.3px;
}

.footer a {
    margin-right : 2rem;
}


.home-nav-bar{
    top:0px;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: none;
    background-color: white;
    animation:moveNavBar 0.2s linear forwards;
  }
  .home-login{
    margin:5px 0px 5px 10px;
    color:rgba(0,0,0,0.9);
 }
 .home-admin{
    margin:5px 0px 0px 10px;
    color:rgba(0,0,0,0.9);
 }
  .home-logout{
  background-color: white;
  }
  .home-search{
    margin:5px 0px 5px 10px; 
    color:rgba(0,0,0,0.9);
  }
  .home-my-page{
     margin:5px 0px 0px 10px;
    color:rgba(0,0,0,0.9);
  }
  .home-modal-layout{
      top:0;
      width: 100%;
      height: 100%;
      position: fixed;
      display:none;
      background-color: rgba(0,0,0,0.4);
      z-index: 15;
    }
@keyframes moveNavBar {
    0%{
        width:5%;
    }
    25%{
        width:10%;
    }
    50%{
        width:20%;
    }
    75%{
        width:35%;
    }
    100%{
        width:50%;
    }
}


@keyframes closeNavBar {
    0%{
        width:50%;
    }
    25%{
        width:35%;
    }
    50%{
        width:20%;
    }
    75%{
        width:10%;
        visibility: hidden;
    }
    100%{
        visibility: hidden;
        width:5%;
    }
}
.modal-close{
    animation:closeNavBar 0.2s linear forwards ;   
}

.home-board-img{
    margin-top: 5px;
    width:20px;
    height: 20px;
}
.home-board-menu{
    display:flex;
}
.home-tab{
    width:100%;
    height:1px;
    margin:0px 10px 0px 10px;
    background-color: rgba(0,0,0,0.05);
}
li{
    list-style: none;
}


.menu-font {
   font-size : 20px;

}

.hello-word{
   font-size : 20px;
   margin : 5px 0 0 10px;
   padding : 10px 0 10px 0;
}

@media (max-width:400px){
	.home_board_link{
		margin-left: 1px;
		width:7rem;
	}
	.home_board_subtitle1{
		font-size: 13px;
	}
	.home_board_subtitle2{
		font-size: 13px;
	}
}

@media (min-width:401px) and (max-width:490px){
	.home_board_link{
		margin-left: 1px;
		width:8rem;
	}
	.home_board_subtitle1{
		font-size: 13px;
	}
	.home_board_subtitle2{
		font-size: 13px;
	}
}


