@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);



body {
  height:100%;
  font-family : Pretendard Variable, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  word-break: keep-all;
  user-select: none;
  color: #000;
  background-color: white;
}

address, article, aside, audio, body, button, canvas, caption, cite, 
code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, html, img, input, ins, label, 
legend, li, mark, nav, ol, p, pre a, section, span, strong, summary, 
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.layout {
  height : 100%;
}

.layout-content {
  max-width : 500px;
  min-height: 100%;
  margin: 0 auto;
  background-color : white;
  padding-top: 0.1px;
}

input {
  background-color: rgba(167, 160, 160, 0.589);
  border: none;
  height: 50px;
  border-radius: 8px;
  font-size: 14px;
  color: white;
  text-align: center;
  transition: 0.2s;
  margin-top: 20px;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffe6cf;
  font-size: 15px;
}
.mouse-effect {
  position: relative;
  overflow: hidden;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.12);
}

input::placeholder {
  color: palevioletred;
  text-align: center;
}
.search {
    margin: 20px;
    position: relative;
    animation: slideDown 1s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(255, 255, 255);
}

.search form {
    display: flex;
}

.search .search-field {
    width: 100%;
    flex-shrink: 0;
    transition: 0.5s;
    background-color:  rgba(167, 160, 160, 0.589);
}

.search .search-field:focus {
    flex-shrink: initial;
}

.search .search-field:focus ~ .cancel-btn {
    opacity: 1;
}

.search .cancel-btn {
    flex-shrink: 0;
    margin-left: 15px;
    opacity: 0;
    transition: 0.2s;
    color: palevioletred;
    background-color: rgba(167, 160, 160, 0.589);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -2px;
  }

.search .search-icon {
    position: relative;
    right: 27px;
    top: 13px;
    opacity: 0.3;
}
.search .left-arrow {
  position: absolute;
  left: 12px;
  top: 5px;
  opacity: 0.3;
}

.list {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #25282b;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  padding: 8px 11px;
  margin: 0px 0px 0 0;
  
}

.list .love {
  background : rgba(167, 160, 160, 0.589);
  padding:7px 13px 7px 13px;
  margin:0px 13px 0px 13px;
  color: #000;
  border-radius: 10px;
 
}
.list .love:nth-child(1){
  margin-left: 30px;
}
.list a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.item {
  background-image: cover;
  border:  1px solid rgba(167, 160, 160, 0.5);

}

.wrapper{
	font-size: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(150px, auto);
    grid-column-gap: 0px;
    grid-row-gap: 18px;
    padding: 50px;
    position: absolute;
    width: 510px;
    list-style-type: none;
  
}

/* photo */
.wrapper .item {          
  /* calc */
  
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  background-image: url("/img/form.png");
}

.wrapper .item .div1 {
    position: relative;
    top: 55px;
    left: 90px;
    display: inline;
}


.wrapper .item .div2 {
    position: relative;
    top: 55px;
    left: 200px;
    display: inline;
	
}
/* 
.footer {
  width: 100%;
  text-align: center;
  background: url(/img/footerwave.png) no-repeat;
  background-size: cover;
  padding: 10rem 0 2rem;
  margin-top: 1.2rem;
  height: 100%;
}

.footer p {
  color: #fff;
  letter-spacing: -0.3px;
}

.footer a {
  margin-right : 2rem;
} */

.item-img{
  width: 200px;
  height:300px;
}
.btn btn-primary{
	margin-top: 50px;
}
.btn btn-primary{
	border: none;
	outline: 0;
}

.pluss-image{
	width: 20px;
	height: 20px;
	border: none;
	outline: 0;
}