@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

html { 
  height:100%;
}


body {
  height:100%;
  font-family : 'Luckiest Guy', Pretendard Variable, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: left;
  word-break: keep-all;
  user-select: none;
  color: #000;
  background-color: white;
}

.recommend {
   margin-top : 40px;
}

.recommend h4 { 
   margin-left : 20px;
   text-transform: uppercase;
   font-weight : 1000;
}

address, article, aside, audio, body, button, canvas, caption, cite, 
code, dd, del, div, dl, dt, em, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h5, h6, header, html, img, input, ins, label, 
legend, li, mark, nav, ol, p, pre a, section, span, strong, summary, 
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


.layout {
  height : 100vh;
}

.layout-content {
  max-width : 500px;
  min-height: 100vh;
  margin: 0 auto;
  background-color : white;
  padding-top: 0.1px;
}


.search input {
  border: none;
  border-radius: 8px;
  font-size: 20px;
  color: white;
  text-align: center;
  transition: 0.2s;
}

.search-icon-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffe6cf;
  font-size: 15px;
}
.mouse-effect {
  position: relative;
  overflow: hidden;
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.12);
}

input::placeholder {
  color: palevioletred;
  text-align: center;
}

.search {
    margin: 20px 20px 20px 20px;
    position: relative;
    animation: slideDown 1s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(255, 255, 255);
}

.search form {
    display: flex;
}

.search .search-field {
    width: 100%;
    flex-shrink: 0;
    transition: 0.5s;
    background-color:  rgba(167, 160, 160, 0.589);
}

.search .search-field:focus {
    flex-shrink: initial;
}

.search .search-field:focus ~ .cancel-btn {
    opacity: 1;
}

.search .cancel-btn {
    flex-shrink: 0;
    margin-left: 15px;
    opacity: 0;
    transition: 0.2s;
    color: palevioletred;
    background-color: rgba(167, 160, 160, 0.589);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -2px;
  }

.search .search-icon {
    position: relative;
    right: 35px;
    top: 13px;
    opacity: 0.3;
    margin-bottom: 23px;
}

.search .left-arrow {
  position: absolute;
  left: 12px;
  top: 6px;
  opacity: 0.3;
}

.category_list {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #25282b;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  margin : 20px 20px 0 20px;
  align-items : center;
  justify-content : start;
  flex-wrap: wrap;

}

.category_list .love {
  background-color : #f98080;
  padding:7px 13px 7px 13px;
  border-radius: 10px;
  margin-bottom : 1rem;
  margin-right : 1rem;
 
}
/* .category_list .love:nth-child(1){
  
} */

.category_list a{
  text-decoration: none;
  font-size : 16px;
  font-weight : bold;
  color: white;
  cursor: pointer;
}


.board_list {
   width : 100%;
}

.board_item {
   height : 12rem;
   margin : 15px 15px 0px 15px;
   display : flex;
   align-items : center;
   text-align : center;
   border : 3px solid grey;
   border-radius : 20px;
   cursor : pointer;
   justify-content : space-between;
   
}

.subtitle1 {
   align-items : center;
   min-width : 40%;
   font-size : 24px;
   white-space : normal;
   word-break : normal;
   
}

.subtitle2 {
   align-items : center;
   min-width : 40%;
   font-size : 24px;
   white-space : normal;
   word-break : normal;
}

.versus {
   width : 20%
}



.footer {
  width: 100%;
  text-align: center;
  background: url(/img/footerwave.png) no-repeat;
  background-size: cover;
  padding: 10rem 0 2rem;
  margin-top: 1.2rem;
  height: 100%;
}

.footer p {
  color: #fff;
  letter-spacing: -0.3px;
}

.footer a {
  margin-right : 2rem;
} 