<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/review.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/home_modal.js"></script>
    <script th:inline="javascript">
	    function reviewDelete(reviewId){
			ws = new WebSocket("ws://" + location.host + "/admin/review");
			ws.onmessage =function(){
				reviewButton=$("[reviewId="+reviewId+"]").parent("div").parent("div");
				reviewButton.remove();
			}
			ws.onopen =() => ws.send(
				reviewId
			);
		}
	   	function reviewDeleteAll(){
	   			console.log("hello");
				let reviewForm = $("#review_form");
				reviewForm.remove();
			$.ajax({
				type:"get",
				contentType:"application/x-www-form-urlencoded; charset=utf-8",
				url:"/admin/review/deleteAll",
				cache:false,
				timeout:5000,
			}).done(res=>{
			}).fail(error=>{
			});
			
		};
	
    </script>
</head>
<body>
    <div class="layout">
        <div class="layout-content">
        	
        	<!-- Header -->
            <header class="board-header">
                <nav class="board-nav">
                    <button id="modal_button" type="button" style="background-color:#FFFFFF;"> 
                        <img src="/img/menu.svg" class="menu-image">
                    </button>
                    <a href="/" class="main-logo">
                        <h1>BELLTOKER</h1>
                        <!--<img src="/img/main.jpg" class="main-logo-image">-->
                    </a>

                    <div class="header-right">
                        <a href="/search" class="header-link">
                            <img src="/img/search.svg" class="header-image1">
                        </a>

                        <a href="/mypage" class="header-link">
                            <img src="/img/profile.svg" class="header-image2">
                        </a>
                    </div>
                </nav>
            </header>
            <!-- Header -->
            
            <div class="review-container">
	            <div class="review-title">
	                <h3>&nbsp;내가 쓴 리뷰</h3>
	                
	            
	            </div>
	            
	            <form id="review_form">
		            <div id="review_content" class="review-content">
		            	<div id="review_content_detail" th:each="review : ${reviews}" class="review-content-detail">
			            	<strong>Nickname</strong>
			            	<small th:text="|보드번호 : ${review.board.boardId}|"></small>
			            	<small th:text="${review.reviewRegdate}"></small>
			            	<div id="review_id_div">
		            			<input type="hidden" id="review_id" th:value="${review.reviewId}" />
				            	<span th:text="|${review.reviewId}번째${review.reviewContent}|"></span>
				            	<button th:reviewId="${review.reviewId}" type="button" class="delete-button"
				            	th:onclick="reviewDelete(this.getAttribute('reviewId'))">삭제</button>
			            	</div>
	            		</div>
            		</div>
	            </form>
	            
	            <nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
							<li class="page-item"
								th:classappend="${1 == reviews.pageable.pageNumber + 1}? 'disabled'">
								<a class="page-link" href="#"
								th:href="@{/admin/review(page=${reviews.pageable.pageNumber - 1})}" 
								tabindex="-1" aria-disabled="true">Previous</a>
							</li>
							<!-- 이전으로 갈 페이지 없게끔 // th:classappend 특정 조건일때만 비활성화를 시켜줌  -->
							<!-- i == boards.pageable.pageNumber(i 값이 ? 일치했을때' disabled'" 되어 th:text="${i}"에 넘겨줌 (1페이지를 눌르면 1버튼이 꺼지게함)) -->
							<!--  -->
							<li class="page-item"
								th:classappend="${i == reviews.pageable.pageNumber + 1}? 'disabled'" 
								th:each="i : ${#numbers.sequence(startPage, endPage)}"><a
								class="page-link" href="#" th:href="@{/admin/review(page=${i - 1})}"
								th:text="${i}">1</a></li>
							<li class="page-item"
								th:classappend="${reviews.totalPages == reviews.pageable.pageNumber + 1}? 'disabled'">
								<a class="page-link" href="#"
								th:href="@{/admin/review(page=${reviews.pageable.pageNumber + 1})}">Next</a>
								<!-- th:href="@{/list(page=${boards.pageable.pageNumber  + 1}) 다음 페이지로 갈수 있게끔 함  -->
								<!-- class="page-link" href="#" th:href="@{/list(page=${i - 1})}" th:text="${i}">1</a></li>  페이지 시작을 0으로 하게끔 함-->
							</li>
						</ul>
					</nav>
	    	</div>


            <footer class="footer">
                <div>
                    <a href="">
                        <img src="/img/instagram.svg">
                    </a>
                    <a href="">
                        <img src="/img/facebook.svg">
                    </a>
                    <a href="">
                        <img src="/img/twitter.svg">
                    </a>
                    <p> 밸런스의 대장! 밸토커! </p>
                    <p>Copyright © Your Website 2022</p>
                </div>
            </footer>

           
             <!-- 홈 모달 -->
           <nav th:replace="modal/modalMenuBar :: modalFragment"></nav>
        </div>
        <div id="modal_layout" class="home-modal-layout"></div>
</div>


</body>