<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BELLTOKER</title>
<link rel="icon" size="16x16" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="/css/admin.css">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
   <div class="layout">
      <div class="layout-content">
         <header class="board-header">
                <nav class="board-nav">
                    <button id="modal_button" type="button" style="background-color:#FFFFFF;"> 
                        <img src="/img/menu.svg" class="menu-image">
                    </button>
                    <a href="/" class="main-logo">
                        <h1>BELLTOKER</h1> <h2 class="main-logo-admin">(ADMIN)</h2>
                        <!--<img src="/img/main.jpg" class="main-logo-image">-->
                    </a>

                    <div class="header-right">
                        <a href="/search" class="header-link">
                            <img src="/img/search.svg" class="header-image1">
                        </a>

                        <a href="/mypage" class="header-link">
                            <img src="/img/profile.svg" class="header-image2">
                        </a>
                    </div>
                </nav>
            </header>
         <div class="admin">
                 <div class="admin-control-top">
                     <div style="display : inherit;">
                        <a th:href="@{/admin/}"> <img class="left-arrow"
                              src="/img/leftarrow.svg" alt="검색아이콘" />
                        </a><h2>보드 관리</h2>
                     </div>
                     <div>
                        <h4>
                        total : <span th:text="${boards.totalElements}"></span> <!-- 전체를 알아서 받아와줌 -->
                        </h4>
                     </div>
               </div>
                <form id="admin_user_searchForm" class="searchForm" th:action="@{/admin/board/}" method="GET">
                        <!-- <select id="userSearch" name="userSearch">
                           <option>-</option>
                           <option value="nickname">닉네임</option>
                           <option value="email">이메일</option>
                           <option value="roles">권한</option>
                        </select> -->
                        <label for="search" class="sr-only">검색</label> 
                        <input type="text" id="search" name="boardSearch" size="30" th:value="${param.search}"/>
                        <button type="submit">검색</button>
                        
                    <a type="button" th:if="@{ROLE_ADMIN}" th:href="@{/admin/board/insert}"> 
                        <img src="/img/plus.png" class="admin-image" alt="추가"></a>
                    <a type="button" th:if=@{ROLE_ADMIN} th:onclick="boardUpdate();">
                        <img src="/img/update.png" class="admin-image" alt="수정"></a>
                    <a type="button" th:if=@{ROLE_ADMIN} th:onclick="deleteValue();">
                          <img src="/img/delete.png" class="admin-image" alt="삭제"></a>
                </form>
         </div>
             <table class="table">
                     <thead>
                        <tr>
                            <th>보드 번호</th>
                           <th>제목</th>
                           <th>서브제목1</th>
                           <th>서브제목2</th>
                           <th><input type="checkbox" id="checkAll" name="checkAll"/></th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr th:each="board, num : ${boards}">
                           <td th:text="${num.count}"></td>
                           <td th:text="${board.boardTitle}"></td>
                           <td th:text="${board.boardSubtitle1}"></td>
                           <td th:text="${board.boardSubtitle2}"></td>
                           <td><input type="checkbox" name="checkRow" th:value="${board.boardId}"/></td>
                        </tr>
                     </tbody>
               
                  </table>
               <!-- 페이지 소스  --> 
               <!-- th:href="@{/list(page=${boards.pageable.pageNumber - 1}) 이전 페이지로 갈수 있게끔 함  -->
               <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                     <li class="page-item"
                        th:classappend="${1 == boards.pageable.pageNumber + 1}? 'disabled'">
                        <a class="page-link" href="#"
                        th:href="@{/admin/board(page=${boards.pageable.pageNumber - 1})}" 
                        tabindex="-1" aria-disabled="true">Previous</a>
                     </li>
                     <!-- 이전으로 갈 페이지 없게끔 // th:classappend 특정 조건일때만 비활성화를 시켜줌  -->
                     <!-- i == boards.pageable.pageNumber(i 값이 ? 일치했을때' disabled'" 되어 th:text="${i}"에 넘겨줌 (1페이지를 눌르면 1버튼이 꺼지게함)) -->
                     <!--  -->
                     <li class="page-item"
                        th:classappend="${i == boards.pageable.pageNumber + 1}? 'disabled'" 
                        th:each="i : ${#numbers.sequence(startPage, endPage)}"><a
                        class="page-link" href="#" th:href="@{/admin/board(page=${i - 1})}"
                        th:text="${i}">1</a></li>
                     <li class="page-item"
                        th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1}? 'disabled'">
                        <a class="page-link" href="#"
                        th:href="@{/admin/board(page=${boards.pageable.pageNumber + 1})}">Next</a>
                        <!-- th:href="@{/list(page=${boards.pageable.pageNumber  + 1}) 다음 페이지로 갈수 있게끔 함  -->
                        <!-- class="page-link" href="#" th:href="@{/list(page=${i - 1})}" th:text="${i}">1</a></li>  페이지 시작을 0으로 하게끔 함-->
                     </li>
                  </ul>
               </nav>


         
         
      </div>
   </div>
   <script>
   function deleteValue() {
        
        var valueArr = new Array();
        var list = $("input[name='checkRow']");
        
        for(var i = 0; i < list.length; i++) {
           if(list[i].checked) {
              valueArr.push(list[i].value);
           }
        }
        
        if (valueArr.length == 0) {
           alert("선택된 항목이 없습니다.");
        } else {
           console.log(valueArr);
           if(confirm("정말 삭제하시겠습니까?")) {
              $.ajax({
                 url : "board/delete",
                 type : 'POST',
                 traditional : true,
                 data : {
                    valueArr : valueArr
                 },
                 success : function(jdata) {
                    if(jdata=1) {
                       alert("삭제 성공");
                       location.replace("board");
                    } else {
                       alert("삭제 실패");
                    }
                 }
              });
           } else {
                 return false;
           }
        }
     }
    
    function boardUpdate() {
         var boardValue = $("input:checkbox[name='checkRow']").val();
         var checkRow = $("input:checkbox[name='checkRow']:checked");
         
         
         if(checkRow.length > 1) {
            alert("게시물을 하나만 선택해주세요.");
            return false;
         } else if(checkRow.length < 1) {
            alert("게시물을 선택해주세요.");
            return false;
         } else {
            var checkRowValue = checkRow.val();
            
            window.location.href = "/admin/board/update/" + checkRowValue
         }
         
    }
   </script>
</body>
</html>