<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/mypage.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/home_modal.js"></script>
</head>
<body>
    <div class="layout">
        <div class="layout-content">
        	
        	<!-- Header -->
            <header class="board-header">
                <nav class="board-nav">
                    <button id="modal_button" type="button" style="background-color:#FFFFFF;"> 
                        <img src="/img/menu.svg" class="menu-image">
                    </button>
                    <a href="/" class="main-logo">
                        <h1>BELLTOKER</h1>
                        <!--<img src="/img/main.jpg" class="main-logo-image">-->
                    </a>

                    <div class="header-right">
                        <a href="/search" class="header-link">
                            <img src="/img/search.svg" class="header-image1">
                        </a>

                        <a href="/mypage" class="header-link">
                            <img src="/img/profile.svg" class="header-image2">
                        </a>
                    </div>
                </nav>
            </header>
            <!-- Header -->
            

            <div class="home-content">
                <h1 class="home-content-head">
                    
                    <span class="span-red">HOT</span>
                    BALANCE
                </h1>
                <div class="recommend-list">
                    <div class="inner">
                        <div class="home_board" th:each="board : ${boardList}">
                           <a class="home_board_link" th:href="@{/board/}+${board.boardId}">
                              <div class="home_board_div">
                                 <span th:text=${board.boardSubtitle1}></span>
                                 <span class="versus">VS</span>
                                 <span th:text=${board.boardSubtitle2}></span>
                              </div>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
         <div class="home_board_bottom">
         </div>

            <hr>

            <div class="category">
                <h4 class="title">전체 카테고리</h4>
                <ul class="all-category">
                    <li><a href="/search/1" onclick="setPlatformGtag('연애', 'main', '전체 카테고리 버튼');"><img src="https://cdn.banggooso.com/assets/images/category-icons/category-heart2.png" class="category-icon">연애</a></li>
                    <li><a href="/search/2"><img src="/img/fashion.png" class="category-icon">패션</a></li>
                    <li><a href="/search/3" onclick="setPlatformGtag('미궁·방탈출', 'main', '전체 카테고리 버튼');"><img src="https://cdn.banggooso.com/assets/images/category-icons/category-clock2.png" class="category-icon">시간</a></li>
                    <li><a href="/search/4" onclick="setPlatformGtag('스낵테스트', 'main', '전체 카테고리 버튼');"><img src="https://cdn.banggooso.com/assets/images/category-icons/category-snack2.png" class="category-icon">음식</a></li>
                    <li><a href="/search/5"><img src="/img/sports.png" class="category-icon">스포츠</a></li>
                    <li><a href="/search/6"><img src="/img/cartoon.png" class="category-icon">만화</a></li>
                </ul>
            </div>


            <footer class="footer">
                <div>
                    <a href="">
                        <img src="/img/instagram.svg">
                    </a>
                    <a href="">
                        <img src="/img/facebook.svg">
                    </a>
                    <a href="">
                        <img src="/img/twitter.svg">
                    </a>
                    <p> 밸런스의 대장! 밸토커! </p>
                    <p>Copyright © Your Website 2022</p>
                </div>
            </footer>

           <!-- 홈 모달 -->
           <nav th:replace="modal/modalMenuBar :: modalFragment"></nav>
        	
    </div>

    <div id="modal_layout" class="home-modal-layout"></div>
</div>


</body>