<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>belltocker</title>
   
    <link rel="stylesheet" media="screen" href="/css/list.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
    <div class="layout">
        <div class="layout-content">
            <header class="search">
                <form>
                    <input class="search-field" placeholder="Search" type="text"/>
                    <a href="/list">
                    <img class="search-icon" src="/img/search.svg" alt="검색아이콘"/>
                    </a>
                    <button class="cancel-btn">Cancel</button>
                    <a href="javascript:history.back(-1)">
                    <img class="left-arrow" src="/img/leftarrow.svg" alt="검색아이콘"/>
                    </a> 
                </form>
<!--            <div th:each="board : ${boards}" class="review-content-detail">
		            	<small th:text="${board.boardId}"></small>
		            	<h1 th:text="${board.boardSubtitle1}" ></h1>
		            	<h1 th:text="${board.boardSubtitle2}"></h1>
	        </div> -->
            </header>
            <div class="container">
            	<h4>List</h4>
            	<div>total : <span th:text="${#lists.size(boards)}"></span></div> 
            	<div class="text-right">
            	<a type="button" class="btn btn-primary" 
            	style="background-color:white;" th:if="@{ROLE_ADMIN}"th:href="@{/list/form}">
            		<img src="/img/pluss.png" class="pluss-image">
            	</a>       
            	</div>
            </div>
            <form action="#" th:action="@{/list/form}" th:object="${board}" method="post">
            <ul class="wrapper" >
                <li class="item" th:each="board : ${boards}"
                	onclick="location.href='/board'" >
                	<div class="div1" th:text="${board.boardSubtitle1}"></div>
                	<div class="div2" th:text="${board.boardSubtitle2}"></div>
                </li>

                
            </ul>
            </form>
        </div>
    </div>  
</body>
</html>