<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<meta charset="utf-8">
	<title>BOOKMARK LIST</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>

    <nav>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"class="active"><a href="/list">LIST</a></li>
            <li role="presentation"><a href="/add">ADD</a></li>
        </ul>
    </nav>


    <div class="container">
        <h1>북마크 리스트</h1>

        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>no</th>
                    <th>site</th>
                    <th>memo</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
	             <tr th:each="d,i : ${data}">
	                 <td th:text="${i.index+1}"></td>
	                 <td th:text="${d.site}"></td>
	                 <td th:text="${d.memo}"></td>
	                 <td>
	                     <button class="btn btn-danger" type="button" th:onclick="'javascript:deleteBookmark(' + ${d.idx} + ')'">delete</button>
	                 </td>
	             </tr>
            </tbody>
        </table>
    </div>
<script>
    function deleteBookmark(idx){
        $.ajax({
            type: "POST", //요청 메소드 방식
            url:"/delProc",
            dataType:"html", //서버가 요청 URL을 통해서 응답하는 내용의 타입
            data: {
                idx:idx
            },
            success : function(aa){
                if(aa=='1'){
                    alert('삭제되었습니다.');
                    location.reload();
                }
            },

            error : function(a, b, c){
                //통신 실패시 발생하는 함수(콜백)
                alert("Error!");
            }
        });
    }


</script>
    
</body>
</html>