<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="Content-Type" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BELLTOKER</title>
		<link rel="icon" size="16x16" href="/img/favicon.ico">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/mypage.css">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/js/mypage.js"></script>
       	<script type="text/javascript">
       	$(document).ready(function(){
			$("#mypage_form").submit(function (event){
				event.preventDefault();
				fire_ajax_submit();
			});
		});
	
		
		function fire_ajax_submit(){
			let search={}
			search["nickname"]=$("#mypage_edit_nickname").val();
			let pencilImg = document.getElementById("mypage_pencil");
			if(pencilImg.src==="https://cdn.poomang.com/icons/ico_edit_txt.svg"){
			$.ajax({
				type:"POST",
				contentType:"application/json",
				url:"/mypage",
				data:JSON.stringify(search),
				dataType:'json',
				cache:false,
				timeout:5000,
				success:function(data){
				},
				error:function(e){
					console.log(e.responseText);
				}
			});
			}
		}
		
		function imageChoose(obj) {
			let f = obj.files[0];

			if (!f.type.match("image.*")) {
				alert("이미지를 등록해야 합니다.");
				return;
			}

			let reader = new FileReader();
			reader.onload = (e) => {
				$("#imageUploadPreview").attr("src", e.target.result);
				
				let formData =$("#mypage_image_form")[0];
				$.ajax({
					type:"POST",
					enctype:"multipart/form-data",
					url:"/mypage/image",
					data:new FormData(formData),formData,
					processData:false,
					contentType:false,
					cache:false,
					timeout:1000,
					success:function(data){
						console.log(data);
					},
					error:function(e){
						console.log(e);
					}
				});
			}
			reader.readAsDataURL(f); // 이 코드 실행시 reader.onload 실행됨.
		}
		
		function mypageBack() {
			if(document.referrer == '' && window.location.host == "belltoker.com")  {
				window.location.href = "http://belltoker.com:/";
			}else if(document.referrer == '' && window.location.host == "belltoker.com:8080"){
				window.location.href = "http://belltoker.com:8080/";
			}else if(document.referrer == '' && window.location.host == "localhost:8080"){
				window.location.href = "http://localhost:8080/";
			}else{
				history.back();
			}
			
		}
       	</script>
</head>
<body>
    <div class="layout">
        <div id="layout_content" class="layout-content">
        	
        	<!-- Header -->
            <header class="board-header">
                <nav class="board-nav">
                    <button type="button" style="background-color:#FFFFFF;"
                    id="modal_button">
                        <a href="javascript:mypageBack();"> <img src="/img/left-arrow.png" id="menu_image" class="menu-image"></a>
                    </button>
                    <a href="/" class="main-logo">
                        <h1>BELLTOKER</h1>
                        <!--<img src="/img/main.jpg" class="main-logo-image">-->
                    </a>
                </nav>
            </header>
        <!-- Header -->
            <div class="home-tab"></div>
            <div class="mypage-profile">
            <form id="mypage_image_form" class="mypage-image-form" enctype="multipart/form-data">
                <div id="mypage_profile_box" class="mypage-profile-box">
                    <img th:if="${image}" id="imageUploadPreview" class="mypage-profile-img" th:src="${image.postImageUrl}" alt="fsdgsdgs님의 사진">
                    <img th:unless="${image}" id="imageUploadPreview" class="mypage-profile-img" src="/img/plamingo-my.png" alt="fsdgsdgs님의 사진">
                	
                    <label for="pic_upload" class="pic-upload">
                    </label>
                    
                        <input class="mypage-profile-edit" type="file" name="file" id="pic_upload" onchange="imageChoose(this)" />
                        
                        <img class="mypage-camera-img" src="img/camera.png"/>
                    <h1 th:field="${image}"></h1>
                </div>
                </form>
                <div class="mypage-edit">
                	<form id="mypage_form" action="/mypage" method="POST">
                    	<input id="mypage_edit_nickname" class="mypage-edit-nickname" name="nickname" type="text" placeholder="익명의 망이" th:value="${user?.nickname}"
                    	onchange="this.value">
                    <button id="mypage_edit_button" class="mypage-edit-button" type="submit">
                        <img id="mypage_pencil" class="mypage-pencil" src="https://cdn.poomang.com/icons/ico_edit_txt.svg">
                    </button>
                    </form>
                </div>
            </div>
            <!--profiile-edit-->
            <div class="mypage-edit-box">
                <div class="mypage-review" id="mypage-review">
                    <a href="/mypage/review" class="mypage-span">내가 쓴 댓글 보기</a>
                </div>
                <div class="home-tab"></div>
                <div class="mypage-logout" id="mypage_logout">
                    <span class="mypage-span">로그아웃</span>
                </div>
                <div class="home-tab"></div>
                <div class="mypage-member-out" id="mypage_member_out">
                    <span class="mypage-span">회원탈퇴</span>
                </div>
                <div class="home-tab"></div>
                <form action="mypage/filter" method="POST">
                	<input type="hidden" name="on_off" value="on"/>
	                <div class="mypage-comment-filter" id="mypage_comment_filter"
	                sec:authorize="hasRole('ROLE_ADMIN')">
	                    <button class="mypage-span" type="submit">악플 댓글 필터링 ON</button>
	                </div>
                </form>
                <div class="home-tab"></div>
                <form action="mypage/filter" method="POST">
                	<input type="hidden" name="on_off" value="off"/>
	                <div class="mypage-comment-filter" id="mypage_comment_filter"
	                sec:authorize="hasRole('ROLE_ADMIN')">
	                    <button class="mypage-span" type="submit">악플 댓글 필터링 OFF</button>
	                </div>
                </form>
                <div class="home-tab"></div>
                <form action="mypage/filter" method="POST">
                	<input type="hidden" name="on_off" value="scheduleOn"/>
	                <div class="mypage-comment-filter" id="mypage_comment_filter"
	                sec:authorize="hasRole('ROLE_ADMIN')">
	                    <button class="mypage-span" type="submit">신규 악플 댓글 1분 간격 필터링</button>
	                </div>
                </form>
                <div class="home-tab"></div>
                <form action="mypage/filter" method="POST">
                	<input type="hidden" name="on_off" value="scheduleOff"/>
	                <div class="mypage-comment-filter" id="mypage_comment_filter"
	                sec:authorize="hasRole('ROLE_ADMIN')">
	                    <button class="mypage-span" type="submit">신규 악플 댓글 1분 간격 필터링 취소</button>
	                </div>
                </form>
                <div class="home-tab"></div>
            </div>
            
            
            <!-- logout modal -->
            <div class="mypage-logout-modal" id="mypage_logout_modal">
                <form action="" class="mypage-logoutform">
                    <div class="mypage-logout-div">
                        <span class="mypage-logout-text">로그아웃 하시겠습니까?</span>
                    </div>
                    <div class="mypage-button-group">
                        <button class="mypage-logout-button">취소</button>
                        	<button id="mypage_logout_button" class="mypage-logout-button" type="button" onclick="location.href='/logout'">확인</button>
                    </div>
                </form>
            </div>

            <!-- signout modal -->
            <div class="mypage-logout-modal" id="mypage_member_modal">
                <form th:object="${user}" id="mypage_signout_form" class="mypage-logoutform" action="/signout" method="POST">
                    <div class="mypage-memberout-div">
                        <span class="mypage-memberout-text">회원탈퇴 하시겠습니까?</span>
                    </div>
                        <span class="mypage-memberout-span">
                            -한 번 삭제된 정보는 복구가 불가능합니다.<br>
                        </span>
                    <input type="checkbox" id="caution">
                    <label style="font-size : 13px" for="caution">주의사항을 숙지하였습니다.</label>
                    <div class="mypage-button-group">
                    <input type="hidden" name="signout" th:field="*{providerId}" value="">
                        <button class="mypage-logout-button" onclick="location.href='/mypage'" type="button">취소</button>
                        <button id="mypage_signout_button" class="mypage-logout-button" type="button">확인</button>
                    </div>
                </form>
            </div>
            
           
           <!-- comment-filter modal -->
           <!--<div class="mypage-logout-modal" id="mypage_filter_modal">
                <form id="mypage_signout_form" class="mypage-logoutform" action="mypage/filter" method="POST">
                    <div class="mypage-memberout-div">
                        <span class="mypage-memberout-text">필터링 하시겠습니까?</span>
                    </div>
                    <div class="mypage-button-group">
                        <button class="mypage-logout-button" onclick="location.href='/mypage'" type="button">취소</button>
                        <button id="mypage_signout_button" class="mypage-logout-button" type="submit">확인</button>
                    </div>
                </form>
            </div> -->
            
        </div>
        <div id="modal_layout" class="home-modal-layout"></div>
    </div>
</body>
</html>