<!DOCTYPE html>
<html ang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" media="screen" href="/css/search.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
	<div class="layout">
        <div class="layout-content">
            <header class="search">
                <form method='get' action="/nextsearch" autocomplete="off">
                    <input class="search-field" placeholder="Search" type="text" value="" name="key"/>
	                    <button class="search-icon-btn" type="submit" >
	                    	<img class="search-icon" src="/img/search.svg" alt="검색아이콘"/>
	                    </button>
                    <button type="reset"class="cancel-btn">Cancel</button>
                    <a href="javascript:history.back()">
                    	<img class="left-arrow" src="/img/leftarrow.svg" alt="뒤로가기"/>
                    </a> 
                </form>
            </header>
            <div th:each="board : ${boards}" class="review-content-detail">            	
	            <ul class="wrapper">
	                <li class="item"><h1 th:text="${board.boardSubtitle1}"></h1></li>
	                <li class="item"></li>
	                <li class="item" ><h1 th:text="${board.boardSubtitle2}"></h1></li>
	            </ul>
	        </div>
        </div>
    </div>  
</body>
</html>