<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/review.css">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/home_modal.js"></script>
    <script th:inline="javascript">
    function reviewDelete(reviewId){
		ws = new WebSocket("ws://" + location.host + "/mypage/review");
		ws.onmessage =function(){
			reviewButton=$("[reviewId="+reviewId+"]").parent("div").parent("div");
			reviewButton.remove();
		}
		ws.onopen =() => ws.send(
			reviewId
		);
	}
    </script>
     	<!--  <script type="text/javascript">
       		function update( reviewId ,event){
				event.preventDefault();
			$.ajax({
				type:"put",
				contentType:"application/x-www-form-urlencoded; charset=utf-8",
				url:"/mypage/review/"+reviewId,
				data:reviewId,
				dataType:'json',
				cache:false,
				timeout:5000,
			}).done(res=>{
				console.log(reviewId);
			}).fail(error=>{
				console.log(reviewId);
			});
			
		};
		</script>
		-->
</head>
<body>
    <div class="layout">
        <div class="layout-content">
        	
        	<!-- Header -->
            <header class="board-header">
                <nav class="board-nav">
                    <button id="modal_button" type="button" style="background-color:#FFFFFF;"> 
                        <img src="/img/menu.svg" class="menu-image">
                    </button>
                    <a href="/" class="main-logo">
                        <h1>BELLTOKER</h1>
                        <!--<img src="/img/main.jpg" class="main-logo-image">-->
                    </a>

                    <div class="header-right">
                        <a href="/search" class="header-link">
                            <img src="/img/search.svg" class="header-image1">
                        </a>

                        <a href="/mypage" class="header-link">
                            <img src="/img/profile.svg" class="header-image2">
                        </a>
                    </div>
                </nav>
            </header>
            <!-- Header -->
            
            <div class="review-container">
	            <div class="review-title">
	                <h3>&nbsp;내가 쓴 리뷰</h3>
	                
	                <div class="review-button-area">
	                	<button type="button" class="review-button">선택삭제</button>/ 
	            		<button type="button" class="review-button">전체삭제</button>
	                </div>
	            
	            </div>
	            <form id="review_form">
		            <div id="review_content" class="review-content">
		            	<div id="review_content_detail" th:if="${review}" th:each="review : ${reviews}" class="review-content-detail">
			            	<strong>Nickname</strong>
			            	<small th:text="|보드번호 : ${review.board.boardId}|"></small>
			            	<small th:text="${review.reviewRegdate}"></small>
			            	<div id="review_id_div">
		            			<input type="hidden" id="review_id" th:value="${review.reviewId}" />
				            	<span th:text="|${review.reviewId}번째${review.reviewContent}|"></span>
				            	<button th:reviewId="${review.reviewId}" type="button" class="delete-button"
				            	th:onclick="reviewDelete(this.getAttribute('reviewId'))">삭제</button>
			            	</div>
	            		</div>
            		</div>
	            </form>
	            
	    	</div>


            <footer class="footer">
                <div>
                    <a href="">
                        <img src="/img/instagram.svg">
                    </a>
                    <a href="">
                        <img src="/img/facebook.svg">
                    </a>
                    <a href="">
                        <img src="/img/twitter.svg">
                    </a>
                    <p> 밸런스의 대장! 밸토커! </p>
                    <p>Copyright © Your Website 2022</p>
                </div>
            </footer>

           
            <!-- 홈 모달 -->
           <nav id="nav_bar" class="home-nav-bar">
                <div class="home-login">
                    <a href="/login">로그인</a>
                </div>
                <div class="home-tab"></div>
                <div class="home-board">
                    <ul>
                        <li><a href="/search">검색하기</a></li>
                    </ul>
                </div>
                <div class="home-tab"></div>
                <div class="home-my-page">
                    <a class="home-mypage-link" href="/mypage">나의 밸런스</a>
                </div>
            </nav>
        </div>
        <div id="modal_layout" class="home-modal-layout"></div>
</div>


</body>